.Message {
  display: block;
  background-color: #B2B1B9;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.2);
  padding: 10px 20px;
  border-radius: 5px;
  clear:both;

  &.me {
    color: rgb(31, 28, 70);
    float: right;
  }
}